---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1020px;
  background: #f5f5f5;
}
div {
  background: #fff
  box-shadow: 5px 5px 5px 20px #ddd;
}

header {
  width: 300px;
}
section {
  width: 702px;
}

th, td {
  padding: 5px 0px;
}
