---
---

@import "{{ site.theme }}";

body {
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.toc {
  font-size: 0.9em;
  margin:0;
}
.fa .fas {
  font-size: 1.1em;
  padding: 5px 5px 5px 0px;
}

.table-icon {
  width: 4.5%
}

.wrapper {
  width: 1020px;
}
header {
  width: 300px;
}
section {
  width: 702px;
}

th, td {
  padding: 7px 0px;
}

hr {
  border: 0;
  background: #e0e0e0;
  height: 5px;
  margin: 20px 0 100px;
}

h4, h5 {
  margin: 0 0 10px;
}

em {
  color: #2d5f5a;
}

a, a:visited, a:focus {
  font-weight: 300;
  color: #267CB9;
  margin: 0;
  transition: all 0.3s ease;
}

a:hover, a:active {
  font-weight: 300;
  color: #00abff;
  margin: 0 0 4px 0;
  transition: all 0.3s ease;
}


// MODAL IMAGES CRUDELY JAMMED INTO THIS
#myImg {
    cursor: pointer;
    transition: all 0.3s ease;
}

#myImg:hover {
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255,0.1);
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 75px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
