---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1020px;
}
header {
  width: 300px;
}
section {
  width: 702px;
}

th, td {
  padding: 5px 0px;
}
hr {
    border: 0;
    background: #f0f0f0;
    height: 5px;
    margin: 60px 0 60px;
}

a {
    font-weight: 300;
    color: #267CB9;
    background-color: none;
    padding: 4px;
    margin: 4px;
    transition: all 0.3s ease;
}

a:hover {
    font-weight: 300;
    color: #fff;
    background-color: #267CB9;
    padding: 4px;
    margin: 4px;
    transition: all 0.3s ease;
}
